body {
  font-family: "Roboto", sans-serif;
}

.background-content {
  background: url(../img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  width: 1030px;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 22px;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}

.text-logo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.title-logo-highlight {
  font-size: 18px;
  line-height: 18px;
}

.logo:hover {
  color: #f26522;
}

.logo::before {
  content: "";
  height: 53px;
  width: 47px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo:hover::before {
  content: "";
  background-image: url(../img/logohover.svg);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts-company {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.contacts-company-email {
  padding-bottom: 19px;
}

.contacts-company:hover {
  color: #f26522;
}

.tour-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 37px;
  position: relative;
}

.tour-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 20px;
}
.tour-item-link:hover .tour-item-title {
  color: #f26522;
}

.tour-item-link:nth-child(4) {
  padding-bottom: 0px;
}

.tour-item-link:nth-child(5) {
  padding-bottom: 0px;
}

.tour-item-link:nth-child(6) {
  padding-bottom: 0px;
}

.menu-item-box {
  width: 304px;
  height: 55px;
  background-color: #f26522;
  position: absolute;
  bottom: 84px;
  z-index: 10;
  opacity: 0;
}

.menu-item-box-bottom {
  bottom: 38px;
}

.menu-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-box-text {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding: 7px 0 8px 16px;
}

.item-box-price {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 16px;
}

.item-box-details {
  font-size: 14px;
  line-height: 14px;
  margin-right: 15px;
  color: #ffffff;
}

.item-box-details::after {
  content: "";
  height: 10px;
  width: 5px;
  background-image: url(../img/vector.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-left: 21px;
}

.tour-item-link:hover .menu-item-box {
  visibility: visible;
  opacity: 10;
}

.copyright-footer {
  display: flex;
  justify-content: center;
  padding-top: 49px;
  padding-bottom: 15px;
}

.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
